*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(13, 13, 172) 49%, rgb(238, 239, 239) 100%);
    
}

.card{
    width: 90%;
    max-width: 470px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width:  16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px ;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 21px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
}

.card,body{
    cursor: url('images/search.png') 16 16, auto;
}
#suggestions {
    position: absolute;
    top: 200px;
    width: 10rem; /* Adjust width for input padding and margin */
    background: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* Initially hidden */
    z-index: 1000;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background: #f0f0f0;
}


/* extra search button */
  button{
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 30px;
  }




